<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>

<body>
	<h1> Lista de usuarios </h1>
	<table>
	<caption>Usuarios activos de Energym</caption>
		<thead>
			<tr>
				<th>Cedula</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Genero</th>
				<th>Email</th>
				<th>Celular</th>
				<th>Altura</th>
				<th>Peso</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario : ${usuarios}">
				<td th:text="${usuario.cedula}"></td>
				<td th:text="${usuario.nombre}"></td>
				<td th:text="${usuario.apellido}"></td>
				<td th:text="${usuario.genero}"></td>
				<td th:text="${usuario.email}"></td>
				<td th:text="${usuario.celular}"></td>
				<td th:text="${usuario.altura}"></td>
				<td th:text="${usuario.peso}"></td>
			</tr>
		</tbody>
	</table>
	<nav th:replace="paginator-nav :: paginator"></nav>
</body>

</html>